@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, "PingFang SC", STXihei, SimSun, Heiti, sans-serif;
  --code-font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  --bg-color: #fafafa;
  --fg-color: #212121;
  --alt-bg-color: #e0e0e0;
  --alt-fg-color: #000;
  --darker-alt-bg-color: #ccc;
  --link-color: #1565c0;
  --technology-color: rgb(247, 22, 22);
  --technology-bg-color: rgba(194, 1, 51, 0.1);

  .box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }
}

@media (prefers-color-scheme: dark) {
  .dark {
    --bg-color: #212121;
    --fg-color: #dadada;
    --alt-bg-color: #424242;
    --alt-fg-color: #dadada;
    --lighter-alt-bg-color: #4f4f4f;
    --link-color: #42a5f5;
    --technology-color: rgb(94, 234, 212);
    --technology-bg-color: rgba(45, 212, 191, .1);

    .box-shadow {
    	box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.12);
    }
  }
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--fg-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.8em;

  @media only screen and (max-width: 768px) {
    font-size: 1.6em;
    line-height: 1.6em;
  }
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.25s ease-in;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 2rem 0 2rem 0;
}

.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;

  header {
    margin-top: 6.4rem;
    margin-bottom: 3.2rem;

    h1 {
      font-size: 4.2rem;
      line-height: 4.6rem;
      margin: 0;

      @media only screen and (max-width: 768px) {
        font-size: 4rem;
        line-height: 4.4rem;
      }
    }
  }

  article {
    details {
      summary {
        cursor: pointer;
      }
    }

    footer {
      margin-top: 4rem;

      .see-also {
        margin: 3.2rem 0;

        h3 {
          margin: 3.2rem 0;
        }
      }
    }

    p {
      text-align: justify;
      text-justify: auto;
      hyphens: auto;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--alt-fg-color);
  margin: 4rem 0 2.5rem 0;

  &:hover .heading-link {
    visibility: visible;
  }

  .heading-link {
    color: var(--fg-color);
    font-weight: inherit;
    text-decoration: none;
    font-size: 80%;
    visibility: hidden;
  }

  .title-link {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;

  @media only screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 3.4rem;
  }
}

h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;

  @media only screen and (max-width: 768px) {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;

  @media only screen and (max-width: 768px) {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 2.6rem;

  @media only screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

h5 {
  font-size: 2rem;
  line-height: 2.4rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.8rem;
    line-height: 2.2rem; 
  }
}

h6 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  
  @media only screen and (max-width: 768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

b, strong {
  font-weight: 700;
}

.highlight > div,
.highlight > pre {
  margin: 2rem 0 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

pre {
  display: block;
  font-family: var(--code-font-family);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  overflow-x: auto;
  margin: 0;

  code {
    display: inline-block;
    background-color: inherit;
    color: inherit;
  }
}

code {
  font-family: var(--code-font-family);
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--alt-bg-color);
  color: var(--fg-color);
  border-radius: 0.6rem;
  padding: 0.3rem 0.6rem;
}

blockquote {
  border-left: 2px solid var(--alt-bg-color);
  padding-left: 2rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: italic;
}

th, td {
  padding: 1.6rem;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 2px solid var(--alt-fg-color);
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

img {
  max-width: 100%;
}

.footnotes {
  ol li p {
    margin: 0;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 100%;
}

.container {
  margin: 1rem auto;
  max-width: 90rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}