{% extends "base.html.twig" %}

{% block content %}

<section class="container centered">
	<div class="about">
		<div class="box-shadow">
			<div class="avatar">
				<img src="{{ asset('public/build/images/avatar.png') }}" alt="avatar">
			</div>
			<h1>Matthew K. Baker</h1>
			<p>
				I am a software developer with 8 years of PHP development experience in creating applications and frameworks such as <a href="https://symfony.com" target="_blank">Symfony</a> and developing plugins and themes for <a href="https://wordpress.org" target="_blank">WordPress</a>. I am experienced in developing user interfaces with HTML, CSS, and JavaScript and have a solid understanding of SQL.
			</p>
		</div>

		<div class="skills box-shadow">
			<h1>Skills</h1>

			<div class="group/list">
				<div class="item">
					<div class="span-2">
						<strong>Languages</strong>
					</div>
					<div class="span-6">
						<ul>
							<li>PHP</li>
							<li>JavaScript</li>
							<li>TypeScript</li>
							<li>NodeJS</li>
							<li>SQL</li>
						</ul>
					</div>
				</div>

				<div class="item">
					<div class="span-2">
						<strong>Frameworks</strong>
					</div>
					<div class="span-6">
						<ul>
							<li>React</li>
							<li>Symfony</li>
						</ul>
					</div>
				</div>

				<div class="item">
					<div class="span-2">
						<strong>Software</strong>
					</div>
					<div class="span-6">
						<ul>
							<li>VSCode</li>
							<li>WordPress</li>
							<li>WinSCP</li>
							<li>Docker</li>
						</ul>
					</div>
				</div>

				<div class="item">
					<div class="span-2">
						<strong>Tools</strong>
					</div>
					<div class="span-6">
						<ul>
							<li>Git</li>
							<li>GitHub</li>
							<li>Composer</li>
							<li>NPM</li>
							<li>WebPack</li>
							<li>Linux</li>
						</ul>
					</div>
				</div>

				<div class="item">
					<div class="span-2">
						<strong>Knowledge</strong>
					</div>
					<div class="span-6">
						<ul>
							<li>Object Oriented Programming (OOP)</li>
							<li>Unit Testing</li>
							<li>APIs</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
