@mixin content_dark {
	.content {
		.centered {
			.about {
				ul {
					li {
						a {
							color: $fg-color-dark;

							&:hover,
							&:focus {
								color: $link-color-dark;
							}
						}
					}
				}
			}
		}

		.box-shadow {
			box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.12);
		}

		ul.technologies-used {
			li {
				div {
					color: $technology-color-dark;
					background-color: $technology-bg-color-dark;
				}
			}
		}
	}
}

body.colorscheme-dark {
	@include content_dark();
}

body.colorscheme-auto {
	@media (prefers-color-scheme: dark) {
		@include content_dark();
	}
}