.float-container {
	bottom: 2rem;
	right: 2rem;
	z-index: 100;
	position: fixed;
	font-size: 1.6em;
	display: flex;
	flex-direction: row;

	div {
		display: flex;

		&:has(#download-resume) {
			margin-right: 2rem;
		}
	}

	#download-resume {
		color: $alt-fg-color;
		background-color: $alt-bg-color;
		font-size: 2rem;
		opacity: 0.5;

		.show-download {
			display: none;
		}

		&:hover, &:focus {
			color: $link-color;
			opacity: 1;

			.show-download {
				display: inline;
			}

			@media only screen and (max-width: 768px) {
				color: $alt-fg-color;
				opacity: 0.5;
			}
		}
	}

	#dark-mode-toggle {
		position: relative;
		width: 3rem;
		font-size: 2rem;
		color: $alt-fg-color;
		background-color: $alt-bg-color;
		border-radius: 0.2rem;
		opacity: 0.5;
		transition: all 0.25s ease-in;

		&:hover,
		&:focus {
			color: $link-color;
			opacity: 1;

			@media only screen and (max-width: 768px) {
				color: $alt-fg-color;
				opacity: 0.5;
			}
		}

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}