$font-family: -apple-system,
BlinkMacSystemFont,
Ubuntu,
Cantarell,
Helvetica,
sans-serif;

$code-font-family: SFMono-Regular,
Consolas,
Liberation Mono,
Menlo,
monospace;

$fg-color: #dadada;
$bg-color: #212121;
$alt-fg-color: #dadada;
$alt-bg-color: #424242;
$link-color: #42a5f5;