{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block content %}

	<section class="container">
		<h1>Contact</h1>

		<strong>Email:</strong> <a href="mailto:mbaker@mattkbaker.com">mbaker@mattkbaker.com</a>
	</section>

{% endblock %}