{% extends 'page.html.twig' %}

{% block page_content %}
	<div class="group/list">
		<div class="item">
			<div class="span-2">
				2021 &mdash; Present
			</div>
			<div class="span-6">
				<h3>
					<a href="https://jaywolfe.com" target="_blank">
						<span>PHP Developer &mdash;</span>
						<span>
							Wolfe Automotive Group LLC
							<i class="fa-solid fa-arrow-up-right-from-square"></i>
						</span>
					</a>
				</h3>
				<p>
					Wrote server-side and client-side code for WordPress plugins using PHP, HTML, CSS, and JavaScript. Wrote VIN and license plate scanner using OCR technology to significantly improve company's process of checking in customer vehicles for service. Created plugin and theme updater using WordPress's filter hookss to keep plugins in sync across all dealership sites. Created store locator to greatly improve scheduling service appointments across several stores.
				</p>
				<ul class="technologies-used">
					<li>
						<div>PHP</div>
					</li>
					<li>
						<div>JavaScript</div>
					</li>
					<li>
						<div>TypeScript</div>
					</li>
					<li>
						<div>WordPress</div>
					</li>
					<li>
						<div>MySQL</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="item">
			<div class="span-2">
				2017 &mdash; 2021
			</div>
			<div class="span-6">
				<h3>
					<a href="https://creekstonefarms.com" target="_blank">
						<span>Programmer &mdash;</span>
						<span>
							Creekstone Farms Premium Beef LLC
							<i class="fa-solid fa-arrow-up-right-from-square"></i>
						</span>
					</a>
				</h3>
				<p>
					Used PHP along with JavaScript to design web-based reports for employees. Wrote PHP scripts to send automated reports and fix data within production database. Developed automated process for Walmart Inc. to pull live data to SFTP server so it could be loaded in SAP. Trained coworkers on employee dashboard to improve effectiveness and suggesting improvements. Created views and automated reports in ERP system using SQL.
				</p>
				<ul class="technologies-used">
					<li>
						<div>PHP</div>
					</li>
					<li>
						<div>JavaScript</div>
					</li>
					<li>
						<div>C#</div>
					</li>
					<li>
						<div>MS SQL</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
