{% extends "base.html.twig" %}

{% block content %}

<section class="container centered">
	<div class="about">
		<div class="avatar">
			<img src="/static/images/avatar.png" alt="avatar">
		</div>
		<h1>Matthew K. Baker</h1>
		<h2>
			Software Developer<br>
			PHP, JavaScript, SQL<br>
			WordPress, Symfony
		</h2>
		<ul>
			<li>
				<a href="https://github.com/mbaker28" title="GitHub">
					<i class="fa fa-2x fa-github"></i>
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/in/matthew-baker94/" title="LinkedIn">
					<i class="fa fa-2x fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="mailto:mattbakerk@gmail.com" title="Email">
					<i class="fa fa-2x fa-envelope"></i>
				</a>
			</li>
		</ul>
	</div>
</section>

{% endblock %}