{% extends "page.html.twig" %}

{% block page_content %}
	<div class="group/list">
		<div class="item">
			<div class="span-6 order-2">
				<h3>
					<a href="https://github.com/mbaker28/mattkbaker.com" target="_blank">
						Portfolio Website
						<i class="fa-solid fa-arrow-up-right-from-square"></i>
					</a>
				</h3>
				<p>
					The source code for my portfolio website. Written in PHP and TypeScript using Symfony components.
				</p>
				<ul class="technologies-used">
					<li>
						<div>PHP</div>
					</li>
					<li>
						<div>JavaScript</div>
					</li>
					<li>
						<div>TypeScript</div>
					</li>
					<li>
						<div>SCSS</div>
					</li>
					<li>
						<div>Symfony</div>
					</li>
				</ul>
			</div>
			<div class="span-2 order-1">
				<img alt="My portfolio website" class="box-shadow" loading="lazy" width="200" decoding="async" src="/static/images/website-thumb.png">
			</div>
		</div>

		<div class="item">
			<div class="span-6 order-2">
				<h3>
					<a href="https://github.com/mbaker28/url-shortener" target="_blank">
						URL Shortener
						<i class="fa-solid fa-arrow-up-right-from-square"></i>
					</a>
				</h3>
				<p>
					A simple URL Shortener app written in the <a href="https://symfony.com" target="_blank">Symfony</a> framework.
				</p>
				<ul class="technologies-used">
					<li>
						<div>PHP</div>
					</li>
					<li>
						<div>JavaScript</div>
					</li>
					<li>
						<div>TypeScript</div>
					</li>
					<li>
						<div>Symfony</div>
					</li>
					<li>
						<div>MySQL</div>
					</li>
				</ul>
			</div>
			<div class="span-2 order-1">
				<img alt="URL Shortener" class="box-shadow" loading="lazy" width="200" decoding="async" src="/static/images/url-shortener-thumb.png">
			</div>
		</div>
	</div>
{% endblock %}